@import "./remedies";
@import "./search-bar";
@import "./demo1";
@import "../../node_modules/splitting/dist/splitting.css";

body {
  background-color: #eee;
  color: #333;
  font-size: 18px;
}
main {
  // padding: 4em 0;
}
img {
  width: 100%;
  height: auto;
}
a.logo {
  display: inline-block;
  width: 100px;
}
a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #333;
}
.site-header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    display: flex;
    border-bottom: 4px solid #333;
    justify-content: center;
  }
  a {
    display: inline-block;
    padding: 1em;
    border-bottom: none;
    text-transform: uppercase;
    font-size: 90%;
  }
}
.container {
  padding: 0 15px;
  max-width: 1000px;
  margin: 0 auto;
}
