extends includes/layout

block content
    section(data-scroll)
        figure
            img(src="images/clock.jpg", alt="logo")
        .content
            h2  The Lorem Ipsum
            p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, maxime.
    section(data-scroll)
        figure
            img(src="images/headphone.jpg", alt="logo")
        .content
            h2  The Lorem Ipsum
            p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, maxime.
    section(data-scroll)
        figure
            img(src="images/keyboard.jpg", alt="logo")
        .content
            h2  The Lorem Ipsum
            p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, maxime.